/*************MOBILE DEVICES*************/
body {
    margin: 0;
}

/*Defaul Ad Box*/
#defaultAdbox {
    background-color: black;
    background: url("../images/JPGv4/300x250_1.jpg") no-repeat;
    width: 300px;
    height: 250px;
    position: absolute;
    top: 0;
    right: 0;
    animation-name: adBoxAnimation;
    -webkit-animation-name: adBoxAnimation;
    -o-animation-name: adBoxAnimation;
    animation-duration: 4s;
    -o-animation-duration: 4s;
}

/*The modal*/
#modalbox {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.75); /* Black w/ opacity */
}

/******The main advertising modal box*******/
#adbox {
    background: url("../layers/mobile/Layer_686@1X.jpeg") no-repeat center;
    background-size: cover;
    background-color: #fefefe;
    margin: auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /*ou 80% */
    height: 80%;
    position: absolute;
    top: 10%;
    right: 0;
    left: 0;
}

#loaderDiv {
    position: absolute;
    height: 10px;
    width: 0;
    background-color: rgba(93, 145, 187, 0.9);
    top: 43%;
    left: 20%;
}

/*The modal*/
#modalbox {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.75); /* Black w/ opacity */
}

/******The main advertising modal box*******/
.mobileModalBox {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.75); /* Black w/ opacity */

}

.mobileAdBox {
    /* background: url("../images/JPGv4/300x250_ps4.jpg") no-repeat center;*/
    background-color: #fefefe;
    margin: auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 940px; /*ou 80% */
    height: 1000px;
    position: absolute;
}

/*Logo*/
#mbWatchDogsLogo{
    width:199px ;
    height: 32px;
    position: absolute;
    top:10%;
    left: 28%;
}

.deskHide{
    display: block;
}

.mobileTimerDiv {
    background-color: azure;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: absolute;
    left: 50%;
    top: 5%;
}

.mbDisplayTimer {
    color: black;
    font-size: 20px;
    position: absolute;
    left: 40%;
    top: 20%;
}

.mbhide {
    display: none;
}


#centerMobileDiv {
    position: absolute;
    width: 100%;
    height: 48%;
    top: 22%;
}

#bottomMobileDiv {
    position: absolute;
    width: 100%;
    height: 27px;
    bottom: 0;
}
#bottomLogo{
    padding-left: 2%;
}
#exitMobileDiv {
    background: url("../Layers/mobile/EXIT.png") no-repeat center;
    position: absolute;
    width: 10%;
    height: 8%;
    right: 0;
}
#exitMobileDiv:hover{
    cursor: pointer;
}
#mbExitImg{
    position: absolute;
    top: 25%;
    left: 20%;
}

#messageBox {
    position: fixed;
    width: 223px;
    height: 163px;
    left: 20%;
    border: 2px solid aqua;
}
#msgBoxImg{
    padding: 5%;
    padding-top: 3%;
}
#playLink{
    position: absolute;
    top: 35%;
    left: 45%;
}
#newMsg{
    position: absolute;
    bottom:23%;
    left: 20%;
}

/**/

/*************/
.divOnHover {
    transition: all 3s;
    -o-transition: all 3s;
    -moz-transition: all 3s;
    -webkit-transition: all 3s;
}

.divOnHover:hover {
    transform: scale(1.1);

}

/******************END MOBILE DEVICES******************/
/************MEDIUM SCREEN**********/
@media only screen and (min-width: 768px) {
    body {
        margin: 0;
        /* background-color: rgba(187, 24, 183, 0.9);*/
    }

    /*Defaul Ad Box*/
    #defaultAdbox {
        background-color: black;
        background: url("../images/JPGv4/300x250_1.jpg");
        width: 300px;
        height: 250px;
        position: absolute;
        top: 0;
        right: 0;
        animation-name: adBoxAnimation;
        -webkit-animation-name: adBoxAnimation;
        -o-animation-name: adBoxAnimation;
        animation-duration: 4s;
        -o-animation-duration: 4s;
    }

    /*The modal*/
    #modalbox {
        display: none;
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.75); /* Black w/ opacity */
    }

    /******The main advertising modal box*******/
    #adbox {
        background: url("../layers/medium_desktop/Layer 672@1X.jpeg") no-repeat center;
        background-color: #fefefe;
        margin: auto; /* 15% from the top and centered */
        border: 1px solid #888;
        width: 940px; /*ou 80% */
        height: 600px;
        position: relative;
    }

    #quitAdBox {
        background: url("../layers/medium_desktop/EXIT.png") no-repeat;
        width: 45px;
        height: 45px;
        position: absolute;
        right: 23px;
        top: 20px;
    }

    #exitimg {
        position: absolute;
        top: 50%;
        left: 50%;
    }

    #joinLinkAdBox {
        background: url("../Layers/medium_desktop/Menu_Rectangle.jpeg");
        width: 120px;
        height: 60px;
        position: absolute;
        left: 34%;
        top: 0;
    }

    #joinLinkAdBox:hover {
        box-shadow: inset 0 0 0 8px #b5d4ea;
    }

    #mediaLinkAdBox {
        width: 100px;
        height: 60px;
        position: absolute;
        left: 47%;
        top: 0;
    }

    #infoLinkAdBox {
        width: 90px;
        height: 60px;
        position: absolute;
        left: 58%;
        top: 0;
    }

    .topMenu {
        position: absolute;
        bottom: 5px;
        left: 5px;
    }

    #ubisoftLinkAdBox {
        width: 153px;
        height: 60px;
        position: absolute;
        left: 2%;
        bottom: 0;
    }

    #facebkLinkAdBox {
        background: url("../Layers/medium_desktop/Social_Media/Rounded_Rectangle.png");
        width: 153px;
        height: 25px;
        position: absolute;
        left: 30%;
        bottom: 25px;
    }

    #fbLogo {
        position: absolute;
        left: 5%;
        top: 20%;
    }

    #postFb {
        position: absolute;
        top: 40%;
        right: 5%;
    }

    #twitterLinkAdBox {
        background: url("../Layers/medium_desktop/Social_Media/Rounded_Rectangle_3.png");
        width: 153px;
        height: 25px;
        position: absolute;
        left: 47%;
        bottom: 25px;
    }

    #logoTwitter {
        position: absolute;
        left: 5%;
        top: 20%;
    }

    #postTwitter {
        position: absolute;
        top: 40%;
        right: 5%;
    }

    #preOrderLinkAdBox {
        background: url("../Layers/medium_desktop/Social_Media/Rectangle_13@1X.png");
        width: 169px;
        height: 45px;
        position: absolute;
        left: 74%;
        bottom: 20px;
    }

    #preOrderCercle {
        width: 45px;
        height: 45px;
        background: url("../Layers/medium_desktop/Social_Media/Layer_676@1X.png");
        position: absolute;
        top: -50%;
        right: -10%;
    }

    #preOrderBottom {
        position: absolute;
        left: 20%;
        top: 40%;
    }

    #recruitment {
        position: absolute;
        width: 249px;
        height: 10px;
        background: url("../Layers/medium_desktop/recruit_your_friends@1X.png");
        left: 35%;
        bottom: 55px;
    }

    /****************END main adBox************/
    /******TIMER COUNTDOWN****/
    #displayTimer {
        color: black;
        font-size: 20px;
        position: absolute;
        left: 40%;
        top: 20%;

        /*  margin-left: 150px;*/

    }

    #timerDiv {
        background-color: azure;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        position: absolute;
        left: 50%;
        top: 5%;
    }

    /****END***/
    /****Video Trailer */
    #trailerDiv {
        position: absolute;
        top: 24%;
        left: 45%;
    }

    #trailerButtonDiv {
        color: aqua;
        position: absolute;
        bottom: -18%;
        left: 35%;
    }

    .mbhide {
        display: block;
    }

    button {
        background-color: aqua;
        width: 150px;
        height: 50px;
        font-size: large;
        border-radius: 2%;
    }

    #trailerButton:hover {
        background-color: rgba(93, 145, 187, 0.9);
    }

    /**/
    #loaderDiv {
        position: absolute;
        height: 10px;
        width: 0;
        background-color: rgba(93, 145, 187, 0.9);
        top: 43%;
        left: 20%;
    }

    /******Default ad box animation******/
    @keyframes adBoxAnimation {
        0% {
            background: url("../images/JPGv4/300x250_1.jpg");
        }
        25% {
            background: url("../images/JPGv4/300x250_2.jpg");
        }
        50% {
            background: url("../images/JPGv4/300x250_3.jpg");
        }
        75% {
            background: url("../images/JPGv4/300x250_2.jpg");
        }
        100% {
            background: url("../images/JPGv4/300x250_1.jpg");
        }
    }

    .linkAdBox:hover {
        cursor: pointer;
    }

    /*Watch Dogs Logo Animation*/
    #watchDogsLogo {
        /* background-color: rgba(93, 145, 187, 0.3);*/
        position: absolute;
        width: 24%;
        height: 50px;
        top: 20px;
        left: 2%;
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.98);

    }

    #watchDogsLogoLayer {

    }

    /*End*/
    /*Pre Order Image Animation*/
    #preOrderImg {
        background-color: rgba(93, 145, 187, 0.5);
        position: absolute;
        width: 40%;
        height: 25%;
        top: 15%;
        left: 5%;
        box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.98);
        animation: preOderAnimation 1s linear 0.1s infinite;
        cursor: pointer;

        display: flex;
    }

    #preOrderAvailable {
        position: absolute;
        right: 0;
        top: 33%;
    }

    #availableImg {
        display: block;
    }

    /*END*/
    /*PS4 Image*/
    #ps4_1 {
        position: absolute;
        width: 23%;
        height: 45%;
        top: 41%;
        left: 26%;
    }

    #ps4_2 {
        position: absolute;
        width: 24%;
        height: 45%;
        top: 41%;
        left: 50%;
    }

    #dvd2 {
        max-width: 100%;
        max-height: 100%;
    }

    /*************/
    .divOnHover {
        transition: all 3s;
        -o-transition: all 3s;
        -moz-transition: all 3s;
        -webkit-transition: all 3s;
    }

    .divOnHover:hover {
        transform: scale(1.1);

    }

    .psOnHover {
        transition: all 3s;
        /* box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.98);*/
    }

    .psOnHover:hover {
        transform: scale(1.1);
    }

    .deskHide{
        display: none;
    }

    #sliderContainer {
        position: absolute;
        height: 45%;
        width: 20%;
        /*background-color: rgba(93, 145, 187, 0.9);*/
        top: 41%;
        left: 5%;
    }

    /**********SLIDER*******/
    #overflow {
        width: 100%;
        overflow: hidden;
    }

    .photo img {
        width: 100%;
    }

    #slides .inner {
        width: 500%;
    }

    #slides .photo {
        float: left;
        width: 20%;
        position: relative;
    }

    input {
        display: none;
    }

    #slide1:checked ~ #slides .inner {
        margin-left: 0;
    }

    #slide2:checked ~ #slides .inner {
        margin-left: -100%;
    }

    #slide3:checked ~ #slides .inner {
        margin-left: -200%;
    }

    #slides .inner {
        transition: all 1s ease-in-out;
    }

    #slider {
        text-align: center;
        margin: 0;
    }

    #active label {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background: red;
        display: inline-block;
    }

    #active {
        text-align: center;
    }

    /**** ANIMATIONS ***/
    @keyframes preOderAnimation {
        0% {
            background-color: rgba(93, 145, 187, 0.3);
        }
        10% {
            background-color: rgba(111, 187, 122, 0.3);
        }
        20% {
            background-color: rgba(169, 187, 92, 0.69);
        }
        30% {
            background-color: rgba(187, 128, 13, 0.69);
        }
        40% {
            background-color: rgba(187, 57, 34, 0.69);
        }
        50% {
            background-color: rgba(187, 42, 70, 0.69);
        }
        60% {
            background-color: rgba(187, 44, 134, 0.69);
        }
        70% {
            background-color: rgba(112, 26, 187, 0.69);
        }
        80% {
            background-color: rgba(21, 66, 187, 0.69);
        }
        90% {
            background-color: rgba(43, 187, 187, 0.69);
        }
        100% {
            background-color: rgba(111, 187, 122, 0.69);
        }

    }

}

/********************END MEDIUM DEVICES****************/

/********************DESKTOP DESKTOP DEVICES********************/
@media only screen and (min-width: 992px) {

    body {
        margin: 0;
        /* background-color: rgba(187, 77, 101, 0.9);*/
    }

    /*Defaul Ad Box*/
    #defaultAdbox {
        background-color: black;
        background: url("../images/JPGv4/300x250_1.jpg");
        width: 300px;
        height: 250px;
        position: absolute;
        top: 0;
        right: 0;
        animation-name: adBoxAnimation;
        -webkit-animation-name: adBoxAnimation;
        -o-animation-name: adBoxAnimation;
        animation-duration: 4s;
        -o-animation-duration: 4s;
    }

    /*The modal*/
    #modalbox {
        display: none;
        position: fixed; /* Stay in place */
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.75); /* Black w/ opacity */
    }

    /******The main advertising modal box*******/
    #adbox {
        background: url("../layers/medium_desktop/Layer 672@1X.jpeg") no-repeat center;
        background-color: #fefefe;
        margin: auto; /* 15% from the top and centered */
        border: 1px solid #888;
        width: 940px; /*ou 80% */
        height: 600px;
        position: relative;
    }

    #quitAdBox {
        background: url("../layers/medium_desktop/EXIT.png") no-repeat;
        width: 45px;
        height: 45px;
        position: absolute;
        right: 23px;
        top: 20px;
    }

    #joinLinkAdBox {
        width: 120px;
        height: 60px;
        position: absolute;
        left: 34%;
        top: 0;
    }

    #joinLinkAdBox:hover {
        box-shadow: inset 0 0 0 8px #b5d4ea;
    }

    #mediaLinkAdBox {
        width: 100px;
        height: 60px;
        position: absolute;
        left: 47%;
        top: 0;
    }

    #infoLinkAdBox {
        width: 90px;
        height: 60px;
        position: absolute;
        left: 58%;
        top: 0;
    }

    #ubisoftLinkAdBox {
        width: 153px;
        height: 60px;
        position: absolute;
        left: 2%;
        bottom: 0;
    }

    #facebkLinkAdBox {
        width: 153px;
        height: 25px;
        position: absolute;
        left: 30%;
        bottom: 25px;
    }

    #twitterLinkAdBox {
        width: 153px;
        height: 25px;
        position: absolute;
        left: 47%;
        bottom: 25px;
    }

    #preOrderLinkAdBox {
        width: 169px;
        height: 45px;
        position: absolute;
        left: 74%;
        bottom: 20px;
    }

    /****************END main adBox************/
    /******TIMER COUNTDOWN****/
    #displayTimer {
        color: black;
        font-size: 20px;
        position: absolute;
        left: 40%;
        top: 20%;

        /*  margin-left: 150px;*/

    }

    #timerDiv {
        background-color: azure;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        position: absolute;
        left: 50%;
        top: 5%;
    }

    /****END***/
    /****Video Trailer */
    #trailerDiv {
        position: absolute;
        top: 24%;
        left: 45%;
    }

    #trailerButtonDiv {
        color: aqua;
        position: absolute;
        bottom: -18%;
        left: 35%;
    }

    button {
        background-color: aqua;
        width: 150px;
        height: 50px;
        font-size: large;
        border-radius: 2%;
    }

    .mbhide {
        display: block;
    }

    #trailerButton:hover {
        background-color: rgba(93, 145, 187, 0.9);
    }

    /**/
    #loaderDiv {
        position: absolute;
        height: 10px;
        width: 0;
        background-color: rgba(93, 145, 187, 0.9);
        top: 43%;
        left: 20%;
    }

    #sliderContainer {
        position: absolute;
        height: 45%;
        width: 20%;
        top: 41%;
        left: 5%;
    }

    /**********SLIDER*******/
    #overflow {
        width: 100%;
        overflow: hidden;
    }

    .photo img {
        width: 100%;
    }

    #slides .inner {
        width: 500%;
    }

    #slides .photo {
        float: left;
        width: 20%;
        position: relative;
    }

    input {
        display: none;
    }

    #slide1:checked ~ #slides .inner {
        margin-left: 0;
    }

    #slide2:checked ~ #slides .inner {
        margin-left: -100%;
    }

    #slide3:checked ~ #slides .inner {
        margin-left: -200%;
    }

    #slides .inner {
        transition: all 1s ease-in-out;
    }

    #slider {
        text-align: center;
        margin: 0;
    }

    #active label {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background: red;
        display: inline-block;
    }

    #active {
        text-align: center;
    }

    /*******Default ad box animation*******/
    @keyframes adBoxAnimation {
        0% {
            background: url("../images/JPGv4/300x250_1.jpg");
        }
        25% {
            background: url("../images/JPGv4/300x250_2.jpg");
        }
        50% {
            background: url("../images/JPGv4/300x250_3.jpg");
        }
        75% {
            background: url("../images/JPGv4/300x250_2.jpg");
        }
        100% {
            background: url("../images/JPGv4/300x250_1.jpg");
        }
    }

    .linkAdBox:hover {
        cursor: pointer;
    }

    /*********************/
    .divOnHover {
        transition: all 3s;
        -o-transition: all 3s;
        -moz-transition: all 3s;
        -webkit-transition: all 3s;
    }

    .divOnHover:hover {
        transform: scale(1.1);
    }

    .psOnHover {
        transition: all 3s;
        /* box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.98);*/
    }

    .psOnHover:hover {
        transform: scale(1.1);
    }

    /**/
    .deskHide {
        display: none;
    }
}

/**************************END DESKTOP***********************/
